<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Contest</title>
    <link rel="stylesheet" href="/mainPage.css">
</head>
<body>
    <header class="menu">
        <nav>
            <ul class="menu-items">
                <li class="menu-left">
                    <a href="/auth/main">Photo Contest</a>
                </li>
                <li class="menu-right">
                    <a href="/account">
                        <img src="/imgs/user-regular.svg" alt="icon" width="20" height="20">
                    </a>
                </li>
                <li class="menu-right">
                    <a href="/auth/addPost">
                        <img src="/imgs/square-plus-regular.svg" alt="icon" width="20" height="20">
                    <a href="/logout">
                        <img src="/imgs/right-from-bracket-solid.svg" alt="icon" width="20" height="20">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="profile">
        <div class="row">
            <label class="username-label">
                Username: 
            </label>
            <p><%= user.username %></p>
        </div>
        <div class="row">
            <label class="email-label">
                Email: 
            </label>
            <p><%= user.email %></p>
        </div>
        
    </div>
</body>
</html>   