<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
    
</head>
<body>
    <form class="login-form">
        <label class="login-label">Login</label>
        <br>
        <div class="input-fields">
            <input type="text" class="username-input" placeholder="Username" required>
            <br>
            <input type="password" class="password-input" placeholder="Password" required>
        </div>
        <hr>
        <label class="continue-with">Continue with:</label>
        <div class="continue-with-container">
            <button type="button" class="google-button" id="google-button">
                <img src="/imgs/google-brands-solid.svg" alt="icon">
            </button>
            <button type="button" class="facebook-button" id="facebook-button"> 
                <img src="/imgs/facebook-brands-solid.svg" alt="icon">
            </button>
            <button type="button" class="github-button" id="github-button">
                <img src="/imgs/github-brands-solid.svg" alt="icon">
            </button>
        </div>
        <button class="login-button" type="submit">Login</button>
        <p class="register-link">
            Don't have an account? <a href="/register">Register</a>
        </p>
        <div id="message"></div>
    </form>
</body>
<script src="/js/login.js"></script>
</html>
