<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Contest</title>
    <link rel="stylesheet" href="/mainPage.css">
</head>
<body>
    <header class="menu">
        <nav>
            <ul class="menu-items">
                <li class="menu-left">
                    <a href="/auth/main">Photo Contest</a>
                </li>
                <div class="menu-right">
                    <a class="profile-button">
                        <img src="/imgs/user-regular.svg" alt="icon" width="20" height="20">
                    </a>
                    <a  href="/auth/addPost" class="add-post-button">
                        <img src="/imgs/square-plus-regular.svg" alt="icon" width="20" height="25">
                    </a>
                    <a class="logout-button">
                        <img src="/imgs/right-from-bracket-solid.svg" alt="icon" width="20" height="25">
                    </a>
                </div>
            </ul>
        </nav>
    </header>
    
    <main class="content-container">
        <!-- Перший елемент -->
        <div class="upper-part">
            <label class="photo-name">Game</label>
            <img src="/imgs/Tips_for_Taking_Photos_at_the_Beach_55dd7d25-11df-4acf-844f-a5b4ebeff4df.webp" alt="photo" width="100%">
            <div class="user-data">
                <label>By: <p>User</p></label>
                <hr>
                <div class="lower-part">
                    <div class="caption-box">No captions yet</div>
                    <input type="text" placeholder="Add caption">
                    <button class="add-caption-button">Add</button>
                </div>
            </div>
        </div>

        <!-- Другий елемент -->
        <div class="upper-part">
            <label class="photo-name">Game</label>
            <img src="/imgs/Tips_for_Taking_Photos_at_the_Beach_55dd7d25-11df-4acf-844f-a5b4ebeff4df.webp" alt="photo" width="100%">
            <div class="user-data">
                <label>By: <p>User</p></label>
                <hr>
                <div class="lower-part">
                    <div class="caption-box">No captions yet</div>
                    <input type="text" placeholder="Add caption">
                    <button class="add-caption-button">Add</button>
                </div>
            </div>
        </div>
    </main>

    <!-- Підключення скрипта mainPage.js -->
    <script src="/js/mainPage.js"></script>
</body>
</html>