<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Register</title>
</head>
<body>
    <form class="register-form">
        <label class="login-label">Register</label>
        <br>
        <div class="input-fields">
            <input type="text" class="username-input" placeholder="Username" required>
            <br>
            <input type="email" class="email-input" placeholder="Email" required>
            <br>
            <input type="password" class="password-input" placeholder="Password" required>
            <br>
            <input type="password" class="confirm-password-input" placeholder="Confirm Password" required>
        </div>
        <hr>
        <label class="continue-with">Continue with:</label>
        <div class="continue-with-container">
            <button class="google-button">
                <img src="/imgs/google-brands-solid.svg" alt="icon">
            </button>
            <button class="facebook-button">
                <img src="/imgs/facebook-brands-solid.svg" alt="icon">
            </button>
            <button class="github-button">
                <img src="/imgs/github-brands-solid.svg" alt="icon">
            </button>
        </div>
        <button class="register-button" type="submit">Register</button>
        <p class="login-link">
            Already have a account? <a href="/login">Login!</a>
        </p>
        <div id="message"></div>
    </form>
</body>
<script src="/js/register.js"></script>
</html>
